project_id = "yebhizmiluiizkfwjeew"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_confirmations = false
enable_signup = true
enable_anonymous_sign_ins = false

[functions.create-user]
verify_jwt = true

[functions.delete-user]
verify_jwt = true